@font-face {
    font-family: Aileron;
    src: url('Aileron-Black.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-BlackItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-Bold.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-BoldItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-Heavy.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-HeavyItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-Italic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-Light.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-LightItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-Regular.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-SemiBold.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-SemiBoldItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-Thin.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-ThinItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-UltraLight.otf');
}

@font-face {
    font-family: Aileron;
    src: url('Aileron-UltraLightItalic.otf');
}
