@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Black.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-BlackItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Bold.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-BoldItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Heavy.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-HeavyItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Italic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Light.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-LightItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Regular.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-SemiBold.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-SemiBoldItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-Thin.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-ThinItalic.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-UltraLight.otf');
}

@font-face {
    font-family: Aileron;
    src: url('../../Fonts/Aileron-UltraLightItalic.otf');
}
